.alert-msg {
    background-color: #1d1d1d;
    color: palegreen;
    padding: 10px;
}

.navbar {
    padding: 10px;
    margin-top: 0;
}

.star-btn {
    background-color: #262626;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
}

.star-btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #1a1a1a;

}


.main {
    margin: 30px;
    padding: 20px;
}

.hero {
    width: auto;
    height: auto;
}



.show-btn {
    background-color: #6c5ce7;
    color: #ffffff;
    display: inline;
    font-size: 22px;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    margin: 14px;
    font-weight: 600;
}

.show-btn:hover {
    background-color: #4b37e1;
    color: #ffffff;
}



.input-data {
    margin-top: 0px;
}

select {
    max-width: 350px;
    margin: auto;
}

.categories {
    font-size: 20px;
}

.apis {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.apibox {
    margin: auto;
    padding: 0px 0px 10px 0px;
    margin-top: 15px;
    height: auto;
    width: 300px;
    text-align: center;
    box-shadow: 6px 6px 10px #ccb3ff;
    align-items: center;
    border-top: 4px solid #6c5ce7;
    border-radius: 8px;
}

.blue {
    color: #6c5ce7;
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    background-color: #6c5ce7;
    color: #ffffff;
    width: 100px;
    font-weight: 600;
}

.link:hover {
    color: #ffffff;
    background-color: #ff4dff;
}

.up-arrow {
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    display: none;
    cursor: pointer;
}

.show {
    display: inline-flex;
}

.hide {
    display: none;
}

footer {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    font-size: 18px;
    bottom: 0;
    font-weight: 600;
}

.logo {
    height: 30px;
    width: 30px;
}

@media only screen and (min-width:1200px) {
    .navbar {
        padding-left: 50px;
    }

    .desc {
        font-size: 40px;
        margin: 20px;
    }

    .hero {
        width: 600px;
        height: 400px;
    }

    .content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .apis {
        justify-content: center;
        padding-left: 150px;
        padding-right: 150px;
    }

    .apibox {
        margin: 20px;
    }

    .up-arrow {
        height: 60px;
        width: 60px;
    }
}