.navbar{
    background-color: #6c5ce7;
    color:#ffffff;
    padding:10px 10px 10px 20px;
    }

.content{
    display:flex;
    flex-direction: column;
}

.main{
    margin:30px;
    padding:20px;
}
.illus{
    width:auto;
    height:auto;
}

.showBtn{
    background-color: #6c5ce7;
    color:#ffffff;
    margin:10px;
    display:inline;
}
.desc{font-size: 20px;}
.input-data{margin-top:0px;}
select{
    max-width: 350px;
    margin: auto;
}

.apis{
    background-color: #f2f2f2;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom:20px;
}

.apibox{
    margin:auto;
    padding:0px 0px 10px 0px;
    margin-top:15px;
    height:auto;
    width:300px;
    text-align: center;
    box-shadow:  6px 6px 10px #ccb3ff;
    align-items: center;
    border-top: 4px solid #6c5ce7;
    border-radius:8px;

}

.blue{
    color: #6c5ce7;
    margin-left:20px;
    margin-right:20px;
}
.link{
    background-color: #6c5ce7;
    color: ivory;
    width:100px;
}
.upArrow{
    position:fixed;
    right:10px;
    bottom:20px;
    height:40px;
    width:40px;
    display:none
}
.show {
 display: inline-flex;
  }
  
  .hide {
   display:none;
  }

footer{
    height:40px;
    text-align: center;
    background-color: #ffffff;
    padding:10px;
    font-size: 14px;
}
.logo{height:30px;
width:30px;}


@media only screen and (min-width:1200px){

    .navbar{padding-left:50px;}
    .illus{
        width:600px;
        height:400px;
    }
    .content{flex-direction:row;}
    .input-data{margin-top:180px;}
    .apis{
        padding-left:150px;
        padding-right:150px;
    }  
    .apibox{margin:20px;}

    .upArrow{height:60px;
    width:60px;}

}